html{
  height:50%
}
body{
  height:50%;
  background: url(https://78.media.tumblr.com/ab5d1b5e315a2eca8f7ceecbac7fd622/tumblr_oz2jfje5Jn1u6t6uao1_1280.jpg) center center no-repeat;
  background-size:cover;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:sans-serif;
  margin:0;
  overflow:hidden
}
#brand{  
  text-align:center;
  cursor:pointer;
}
#brand img{
  display:block;
  width:80vw;
  max-width:700px;
  height:auto;
  transition:0.2s
}
#brand a{
  display:block;
  font-family: 'Passion One';
  font-size:3em;
  color:#333;
  font-weight:800;
  text-decoration:none;
  background:rgba(50,0,10,0);
  padding:5px 15px;
  transition:0.4s
}
#brand:hover a{  
  color:rgba(200,80,50,1);
  text-shadow:2px 5px 0 rgba(0,0,0,0.6)
}



